/x64/*
/.vs/*
/Average4k/x64/*
sdk/*
Average4k/log.txt
Average4k/settings.avg
Average4k/settings.avg2
/Average4k/assets/charts/*
Average4k/settings.avg2
enc_temp_folder/6d7f48beb7c0e4266c55281b6945f636/MainMenu.cpp
*.avg2
*.avg2
*.vcxproj
Average4k/Average4k.vcxproj
Average4k/crash.dmp
Average4k/Average4k.vcxproj
