/x64/*
/.vs/*
/Avg4k-oldRefactor/avg4k-new/.vs/*
/Avg4k-old/x64/*
/Avg4k-oldRefactor/avg4k-new/avg4k-new/x64/*
Avg4k-oldRefactor/avg4k-new/x64/*
sdk/*
/Avg4k-old/assets/charts/*
/Avg4k-oldRefactor/avg4k-new/avg4k-new/assets/charts/*
*.avg2
Avg4k-oldRefactor/avg4k-new/avg4k-new/log.txt
Avg4k-oldRefactor/avg4k-new/avg4k-new/log.txt
Avg4k-oldRefactor/avg4k-new/avg4k-new/imgui.ini
Avg4k-oldRefactor/avg4k-new/avg4k-new/crash.dmp
Average4k/Builds/*
Average4k/.vs/*